@import "./variables.scss";
@import "./mixins.scss";

#about {
  text-align: center;
  background-color: #F5F5F5;
  padding: 80px 30px 120px 30px;
  @include respond-to("extrasmall") {
    padding: 80px 100px 120px 100px;
  }
}

#contact {
  text-align: center;
  background-color: #F5F5F5;
  padding: 80px 50px 120px 50px;
  @include respond-to("extrasmall") {
    padding: 80px 100px 120px 100px;
  }
}

.about-description {
  font-size: 1.5rem;
}

#contact-icons {
  a {
    padding: 5px;
  }
}