$white: #fff;
$american-silver: #cecece;
$coronation: #ececec;
$menu-active: $white;
$menu-inactive: $american-silver;

$body-light: $coronation;

$navbar-height: 50px;
$container-padding: 20px;
$section-padding: 80px;
$section-padding-mobile: 40px;
$container-width: 1200px;
$transition-duration: 250ms;
